.app {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.site-title{
  font-size: 1.5rem;
  font-weight: bolder;
  gap: 5rem;
  text-align: center;
}

.guess-me{
  width: 200px;
  height: 200px;
}

.row{
  margin: 1px;
  top: 100%;
  -ms-transform: translateY(1000%);
  transform: translateY(1000%);
  margin-bottom: 220px;
}

.wrong{
  color: red;
  font-size: 24px;
  text-align: center;
}

.correct{
  color: green;
  font-size: 24px;
  text-align: center;
}